body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  background-color: #849d8f;
}

.logo {
  width: 154px;
  margin-right: 10px;
  float: left;
}

.logo-pic {
  width: 154px;
  height: 64px;
  margin-left: -5px;
  margin-top: -5px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.main-navigation {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  width: 382px;
  float: left;
}

.search-container {
}

.user-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.time-and-contact-info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.working-hours {
  color: #fff;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.phone-number {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient
    (linear, left top, left bottom, from (#f26843), to (#e74a35));
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 25px;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.ad-section {
  padding: 2rem;
}

.ad-container {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

img {
  max-width: 100%;
  height: auto;
}

.slider-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/SLIDE01.png");
  min-height: 500px;
}

.slider-wrapper:before,
.slider-wrapper:after {
  content: "";
  visibility: hidden;
}

.slider-wrapper:before,
.slider-wrapper:after {
  background-image: url("../img/SLIDE02.png");
}

.slider-wrapper:after {
  background-image: url("..img/SLIDE03.png");
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.slider {
  position: relative;
  margin-bottom: 41px;
  color: #ffffff;
  text-align: center;
}

.slide {
  display: none;
}

.slider-img input {
  display: none;
}

.slider-button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient
    (linear, left top, left bottom, from (#f26843), to (#e74a35));
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 25px;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.slider-dots {
  position: absolute;
  left: 0;
  bottom: 21px;
  z-index: 10;
  font-size: 0;
}

.slider-dots input[type="radio"] {
  display: none;
}

.slider-dots label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
  vertical-align: top;
  cursor: pointer;
}

.slider-dots label:hover {
  background-color: rgb(255, 255, 255);
}
#img1:checked ~ .slider-wrapper .slide-1,
#img2:checked ~ .slider-wrapper .slide-2,
#img3:checked ~ .slider-wrapper .slide-3 {
  display: block;
}

#img1:checked ~ .slider-wrapper {
  background-image: url("../img/SLIDE01.png");
}

#img2:checked ~ .slider-wrapper {
  background-image: url("../img/SLIDE02.png");
}

#img3:checked ~ .slider-wrapper {
  background-image: url("../img/slide03.png");
}

/*колір листалки*/

#img1:checked ~ .slider-wrapper label[for="img1"],
#img2:checked ~ .slider-wrapper label[for="img2"],
#img3:checked ~ .slider-wrapper label[for="img3"] {
  background-color: #ffffff;
}

.slide-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 60.349px;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offer-item {
  max-width: 560px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 15px;
}

.offers .offer-item:first-child {
  margin-right: 30px;
}

.offers-title {
  padding: 15px;
  margin: 0;
  margin-bottom: 16px;
  color: #fff;
  font-family: Roboto;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.offers-left {
  background-color: #981a34;
  background-image: url("../img/raspberries.png");
}

.offers-right {
  background-color: #3c2318;
  background-image: url("../img/chocolates.png");
}

.offers p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 42px;
}

.wrapper-offers-button {
  text-align: right;
}

.offers-button {
  padding-left: 21px;
  padding-right: 23px;
}

.product-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.item {
  position: relative;
  display: inline-block;
  width: 267px;
  margin-right: 21px;
  margin-bottom: -42px;
  margin-left: -5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 75px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
}

.item-image img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  overflow: hidden;
}

.item-title {
  min-height: 44px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.item-title a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.item-price {
  color: #fff;
  position: absolute;
  left: 5px;
  top: 213px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
}

.about-store-motto {
  margin-bottom: 40px;
  padding: 24px 19px;
  color: #323232;
  background-color: #eee2c7;
  background-image: url("../img/waffle.png");
  border-radius: 15px;
}

.about-store-motto h2 {
  margin: 0;
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.about-store-motto p {
  margin: 0;
  padding-left: 56px;
  padding-top: 16px;
}

.motto-img {
}

.blog {
  display: flex;
  justify-content: space-between;
}

.blog-news {
  float: left;
  max-width: 48%;
  width: 100%;
  background: #ffffff url("../img/news.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog-container {
  padding: 24px 19px;
}

.blog-news h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog-news a {
  color: #323232;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
  border-color: #e84d37;
}

.blog-news p {
  margin: 0;
  width: 287px;
  min-height: 146px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  white-space: pre-wrap;
}

.subscription {
  float: right;
  max-width: 48%;
  width: 100%;
  background: #f8f7f4 url("../img/subscription-texture.gif");
  border-radius: 15px;
  padding: 5px;
}

.subscription-form > div {
  display: flex;
  vertical-align: top;
  padding-left: 21px;
  padding-right: 21px;
}

.subscription-container {
  background-color: #f8f7f4;
  border-radius: 10px;
  height: 100%;
  max-width: 100%;
}

.subscription p {
  margin: 0;
  margin-bottom: 7px;
  padding: 29px 21px;
  color: #323232;
}

.subscription-form input[type="email"] {
  min-height: 24px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.subscription-form input:-ms-input-placeholder {
  color: #999999;
}

.subscription-button {
  margin-left: 10px;
  padding: 9px 17px;
  max-width: 127px;
}

.subscription-button-wrapper {
  max-width: 127px;
}

.map {
  margin-top: 30px;
  position: relative;
  min-height: 430px;
  background-color: #849d8f;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.map-container {
  position: absolute;
  left: 50%;
  margin-left: 425px;
}

.address {
  position: relative;
  z-index: 10;
  float: right;
  width: 252px;
  margin: 62px 0;
  padding: 30px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.address-information,
.phone-information {
  margin: 0;
  margin-bottom: 24px;
}

.address .important-information {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.address .address-phone-link {
  text-decoration: none;
  color: #323232;
}

.feedback-button {
  display: inline-block;
  padding-left: 27px;
  padding-right: 27px;
  vertical-align: top;
}

.socials {
}

.about-footer-left {
}

.about-footer-right {
}
